<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <title>General Layout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:fragment="top">
    <header>
        <div class="header">
           <a th:href="@{/}"><span class="header-text">Korean Wave</span></a>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}" th:if="${#authorization.expression('isAuthenticated()')}">Home</a></li>
                <li><a th:href="@{/products}" th:if="${#authorization.expression('isAuthenticated()')}">Products</a></li>
                <li><a th:href="@{/brands}" th:if="${#authorization.expression('isAuthenticated()')}">Brands</a></li>
                <li><a th:href="@{/idols}" th:if="${#authorization.expression('isAuthenticated()')}">Idols</a></li>
                <li><a th:href="@{/admin}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin</a></li>
                <li><a th:href="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a></li>
                <li><a th:href="@{/cart}" th:if="${#authorization.expression('isAuthenticated()')}">See cart</a></li>
                <li><a th:href="@{/login}" th:if="${#authorization.expression('!isAuthenticated()')}">Login</a></li>
                <li><a th:href="@{/register}" th:if="${#authorization.expression('!isAuthenticated()')}">Register</a></li>
            </ul>
        </nav>
    </header>
</div>

<div th:fragment="bottom">
    <footer>
        <p>@2024</p>
        <a th:href="@{/home}"><p>Korean Wave</p></a>
        <p>Terms of service</p>
    </footer>
</div>
</body>
</html>
