<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/stylesbrands.css}" type="text/css"/>
    <title>Brands</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:replace="~{fragments/general :: top}"></div>
<div class="container">
    <h1>Uh oh, I don't know what to do!</h1>
    <a href="home.html"><h2 align="center">go back home</h2></a>
</div>

<div th:replace="~{fragments/general :: bottom}"></div>
</body>
</html>
