<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:replace="~{fragments/general :: top}"></div>

<div class="search-container">
    <input type="text" class="search-input" placeholder="Search...">
    <button type="submit" class="search-button">Search</button>
</div>
<div class="photo-gallery">
    <div class="wide-photo">
        <img th:src="@{/images/ss.jpg}" alt="Wide Photo">
        <div class="overlay">
            <p class="overlay-text">Find your perfect sunscreen</p>
            <p class="overlay-text1">Take care of your skin in every season</p>
            <a th:href="@{/products}"><button class="overlay-button">Shop now</button></a>
        </div>
    </div>
    <div class="small-photos">
        <div class="small-photo">
            <img th:src="@{/images/sk.jpg}" alt="Small Photo 1">
            <a th:href="@{/products}"><button class="overlay-button">Skincare</button></a>
        </div>
        <div class="small-photo">
            <img th:src="@{/images/suga.jpg}" alt="Small Photo 2">
            <a href="#"><button class="overlay-button">Trending</button></a>
        </div>
        <div class="small-photo">
            <img th:src="@{/images/trending.jpg}" alt="Small Photo 3">
            <a th:href="@{/products}"><button class="overlay-button">New</button></a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: bottom}"></div>
</body>
</html>
